{% extends "load_file.html" %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}
{% block title %}D_shopping - 注文者情報確認画面{% endblock %}

{% block contents %}

{% include 'include/user_header.html' %}

<main role="main">
  <section class="px-4 py-5">
    <div class="mx-auto w-50">
      <h2 class="text-center">注文者情報確認</h2>
      <hr>
      <form action="{% url 'user_order_done' %}" method="post">
        {% csrf_token %}
        <div class="form-content py-4 px-5 bg-light">

          <div class="form-group">
            <label class="font-weight-bold">お名前</label>
            <p class="ml-2">{{ form.name.value }}</p>{{ form.name.as_hidden }}
          </div>
          <div class="form-group">
            <label class="font-weight-bold">フリガナ</label>
            <p class="ml-2">{{ form.name_kana.value }}</p>{{ form.name_kana.as_hidden }}
          </div>
          <div class="form-group">
            <label class="font-weight-bold">メールアドレス</label>
            <p class="ml-2">{{ form.email_address.value }}</p>{{ form.email_address.as_hidden }}
          </div>
          <div class="form-group">
            <label class="font-weight-bold">電話番号</label>
            <p class="ml-2">{{ form.phone_number.value }}</p>{{ form.phone_number.as_hidden }}
          </div>
          <div class="form-group">
            <label class="font-weight-bold">郵便番号</label>
            <p class="ml-2">{{ form.postal_code.value }}</p>{{ form.postal_code.as_hidden }}
          </div>
          <div class="form-group">
            <label class="font-weight-bold">住所</label>
            <p class="ml-2">{{ prefecture.prefecture_name }}{{ form.municipality.value }}{{ form.address.value }}</p>
            <!-- 都道府県id -->
            {{ form.prefecture.as_hidden }}
            <!-- 入力された市区町村 -->
            {{ form.municipality.as_hidden }}
            <!-- 入力された住所 -->
            {{ form.address.as_hidden }}
          </div>
          <div class="container d-flex justify-content-center mt-3">
            <p class="mx-5">
              <input type="button" class="btn btn-secondary" onclick="history.back()" value="戻る">
            </p>
            <p class="mx-5">
              <button type="submit" class="btn btn-primary" name="">
                注文を確定する
              </button>
            </p>
          </div>
        </div>
      </form>
    </div>
  </section>
</main>

{% include 'include/user_footer.html' %}

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/common.js' %}"></script>
{% endblock %}


