{% extends "load_file.html" %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}
{% block title %}D_SHOPPING - TOP{% endblock %}

{% block contents %}

{% include 'include/user_header.html' %}

<div class="bg-light p-5">
  <main role="main">
    <section>
      <div class="container">
        <form action="" method="post">
          {% csrf_token %}
          <div class="row p-5 mx-5">
            <div class="col-md-4">
              {% if product.image %}
                <img  src="/media/{{ product.image }}" class="img-fluid mx-auto">
              {% else %}
                <img  src="{% static 'images/no-image.jpg' %}" class="img-fluid mx-auto">
              {% endif %}
            </div>
            <div class="col-md-7">
              <h2>{{ product.name }}</h2>
              <p class="text-muted small">カテゴリー：{{ product.category.name }}</p>
              <p class="h3">¥ {{ product.price|intcomma }}</p>
              <div class="text-right mb-2 mt-5">
                <!-- 注文数 -->
                {{ form.qty.label }}：{{ form.qty|add_class:"w-70" }}
                {{ form.qty.errors }}
              </div>
              {{ form.product_id.as_hidden }}
              <div class="text-right">
                <button type="submit" name="" class="btn btn-info ml-auto">カートに入れる</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>
  </main>
</div>

{% include 'include/user_footer.html' %}

{% endblock %}

{% block extra_js %}
<script>
  $(function(){
    $("form").attr("novalidate", "novalidate");
    $("input").removeAttr("required");
  });
</script>
{% endblock %}


