{% extends "load_file.html" %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}
{% block title %}D_SHOPPING - TOP{% endblock %}

{% block contents %}

{% include 'include/user_header.html' %}

<main role="main">
  <div class="album py-5 bg-light">
    <div class="container">
      <!-- 商品検索 form -->
      <form action="" method="get">
        <div class="form-group w-50 ml-auto mb-5">
          <div class="d-flex">
            <input type="text" class="form-control mr-2" placeholder="キーワード検索">
            <span class="input-group-btn">
              <button type="button" name="search_keywords" class="btn btn-outline-primary" style="width:60px">検索</button>
            </span>
          </div>
        </div>
      </form>

      <div class="row">
        {% for p in page_obj %}
        <a href="{% url 'user_product_details' p.id %}" class="col-md-3">
          <div class="card mb-4 shadow-sm">
            {% if p.image %}
            <img class="card-img-top" src="media/{{ p.image }}">
            {% else %}
            <img class="card-img-top" src="{% static 'images/no-image.jpg' %}">
            {% endif %}
            <div class="card-body border">
              <p class="card-text">{{ p.name }}</p>
              <p class="card-text">￥{{ p.price|intcomma }}</p>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</main>

{% include 'include/user_footer.html' %}

{% endblock %}


